:root {
  --jasper: #d76145ff;
  --apricot: #f6bfaaff;
  --coral: #e98b68ff;
  --cornsilk: #fef7ddff;
  --light-orange: #f5d7b6ff;
  --isabelline: #f8f4f1ff;
  --papaya-whip: #fff0cfff;
  --vanilla: #feeba8ff;
  --jasmine: #ffd27fff;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--cornsilk);
  margin: auto;
  height: 100%;
  font-family: "Overpass", sans-serif;
}

.clear {
  clear: both;
}

.button {
  margin: auto;
  color: black;
  border-radius: 10px;
  letter-spacing: 1px;
  text-align: center;
  text-decoration: none;
  padding: 10px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.button:active {
  color: var(--jasmine);
}

.container {
  width: 100%;
  flex-wrap: wrap;
  display: flex;
  height: 100vh;
  position: relative;
}
#vasen {
  background-color: var(--jasmine);
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.kortti {
  background-color: var(--isabelline);
  height: 60%;
  width: 90%;
  max-width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.kortti:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
}
.kortti img {
  max-width: 80%;
  max-height: 70%;
}

#oikea {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.yla {
  display: flex;
  align-items: center;
  height: 40%;
}
.otsikko {
  height: 30%;
  margin: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "DM Serif Text", serif;
  font-size: 4em;
}

h2 {
  border-style: solid;
  padding: 2rem;
}
.sisalto {
  font-size: 1.5rem;
  width: 80%;
  display: flex;
  flex-direction: column;
}

.seemore {
  background-color: var(--jasper);
  display: flex;
  position: fixed;
  bottom: 0px;
  left: 50%;
  height: 50px;
  justify-content: center;
  text-align: center;
  align-items: center;
  transform: translateX(-50%);
  flex-direction: column;
  padding: 2rem;
  margin: auto;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

@media only screen and (max-width: 800px) {
  #vasen {
    width: 100%;
    height: auto;
  }
  #oikea {
    width: 100%;
    height: auto;
    margin: 1rem;
  }
  .kortti {
    height: 70%;
    width: 60%;
  }
  .kortti img {
    max-width: 90%;
    max-height: 80%;
  }
  .otsikko {
    margin: auto;
    font-size: 2rem;
  }
  .sisalto {
    font-size: 22px;
    height: 100%;
    margin: 0;
    padding-bottom: 5rem;
    width: 90%;
  }
  .yla {
    height: 20%;
  }
}
