* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans", sans-serif;
}

body {
  background-color: #190f30;
}

.hero {
  height: 100vh;
  background-color: #190f30;
  padding: 40px;
}

main {
  background-color: #190f30;
  color: #d4d8da;
  padding: 40px;
  position: relative;
  margin-top: -40px;
  height: 200vh;
}

.kuva {
  width: 100%;
  height: 800px;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  background-attachment: fixed;
}

.kuva1 {
  background-image: url(img/background.png);
}

.kuva2 {
  background-image: url(img/Frame\ 1.png);
}

.kuva3 {
  background-image: url(img/Frame\ 2.png);
}

.kuva4 {
  background-image: url(img/Frame\ 3.png);
}

.kuva5 {
  background-image: url(img/Frame\ 4.png);
}

.kuva6 {
  background-image: url(img/Frame\ 5.png);
}

.kuva7 {
  background-image: url(img/Frame\ 6.png);
}

.kuva8 {
  background-image: url(img/Frame\ 7.png);
}
